# Generated release
release/dfmtp
release/src/cli.d
release/src/cli.o
release/src/main.d
release/src/main.o
release/src/stability_processor.d
release/src/stability_processor.o
release/src/transaction_loader.d
release/src/transaction_loader.o

# Generated debug
debug/dfmtp
debug/src/cli.d
debug/src/cli.o
debug/src/main.d
debug/src/main.o
debug/src/stability_processor.d
debug/src/stability_processor.o
debug/src/transaction_loader.d
debug/src/transaction_loader.o

# dependencies
libs/**

# datasets
data/**

#eclipse settings
.settings